@import "tailwindcss";
@import "react-quill/dist/quill.snow.css";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .container-custom {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media (min-width: 640px) {
    .container-custom {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .container-custom {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  
  .btn-primary {
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
  }
  
  .btn-primary:hover {
    background-color: rgb(29 78 216);
  }
  
  .btn-secondary {
    background-color: rgb(229 231 235);
    color: rgb(17 24 39);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
  }
  
  .btn-secondary:hover {
    background-color: rgb(209 213 219);
  }
  
  .btn-disabled {
    background-color: rgb(209 213 219);
    color: rgb(107 114 128);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: not-allowed;
  }

  /* Prose styling for note content */
  .prose {
    color: rgb(55 65 81);
    max-width: none;
  }
  
  .prose h1 {
    color: rgb(17 24 39);
    font-weight: 800;
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }
  
  .prose h2 {
    color: rgb(17 24 39);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }
  
  .prose h3 {
    color: rgb(17 24 39);
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }
  
  .prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  
  .prose strong {
    color: rgb(17 24 39);
    font-weight: 600;
  }
  
  .prose ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }
  
  .prose ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }
  
  .prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* Line clamp utility */
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}